@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@800&family=Roboto:wght@700&family=Ubuntu:wght@500&display=swap");

.light {
  --clr-font: hsl(0, 0%, 20%);
  --clr-bg: hsl(0, 0%, 90%);
  --clr-box: hsl(0, 0%, 80%);
  --clr-btn: hsl(0, 0%, 70%);
}

.dark {
  --clr-font: hsl(0, 0%, 90%);
  --clr-bg: hsl(0, 0%, 20%);
  --clr-box: hsl(0, 0%, 30%);
  --clr-btn: hsl(0, 0%, 25%);
}

:root {
  color-scheme: dark light;
  scroll-behavior: smooth;
  --clr-primary: hsl(225, 73%, 57%);
  --clr-invalid: hsl(348, 83%, 47%);
  --clr-valid: hsl(180, 100%, 25%);

  --font-body: 400 clamp(14px, 1.25vw + 10px, 16px) / 1.5 open sans;
  --font-link: 500 1.2em/ 1 ubuntu;
  --font-sub-head: 700 1.5em/ 1.2 roboto;
  --font-head: 800 1.75em/ 1.1 poppins;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  @extend .flex;
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(#0000, 0.7);
  z-index: 1000;
}

.logo {
  @extend .flex;
  font: var(--font-head);
  &:hover > span {
    color: var(--clr-font);
  }
}
