@use "@src/utils.scss";

#about {
  section {
    display: grid;
    align-items: start;
    gap: 2em;
  }

  .AboutMe {
    .personalInfo {
      display: flex;
      flex-direction: column;
      gap: 1em;

      h2 {
        text-align: center;
      }

      article {
        text-align: center;
        padding: 1em;
        box-shadow: 0 0 0.5em 0.1em var(--clr-box);
      }

      .quote {
        text-align: center;
        font-family: ubuntu;
        padding: 1em;
        box-shadow: 0 0 0.5em 0.1em var(--clr-box);
        vertical-align: middle;

        span {
          text-decoration: line-through;
          font-size: 0.75em;
        }
      }

      .info {
        @extend .flex;
        gap: 1em;

        ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
          width: 100%;
          padding: 0.5em;

          li {
            position: relative;
          }

          li::before {
            content: "";
            border-style: solid;
            border-width: 0.5em 0 0.5em 0.7em;
            border-color: transparent transparent transparent var(--clr-primary);
            position: absolute;
            left: -0.4em;
          }
        }
      }
    }

    .education {
      display: grid;
      grid-template-rows: auto 1fr 1fr 1fr;
      align-content: flex-start;
      gap: 1em;
      height: 100%;

      h2 {
        text-align: center;
      }

      article {
        position: relative;
        box-shadow: 0 0 0.5em 0.1em var(--clr-box);
        @extend .flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;
        text-align: center;
        overflow: hidden;

        &:hover > img {
          left: 100%;
          opacity: 0;
        }

        img {
          position: absolute;
          left: 0;
          opacity: 1;
          width: 100%;
          filter: brightness(0.8);
          transition: all 0.5s ease-in-out;
        }

        .row {
          display: flex;
          gap: 2em;
        }
      }
    }
  }

  .Experience {
    justify-content: stretch;
    article {
      display: grid;
      gap: 0.5em;
      position: relative;
      box-shadow: 0 0 0.5em 0.1em var(--clr-box);
      padding: 1em;
      overflow: hidden;

      [label]::before {
        content: attr(label);
        color: var(--clr-primary);
        min-width: 35%;
        margin-right: 1em;
      }
      p {
        display: flex;
        justify-content: flex-start;
      }

      &:hover > img {
        left: 100%;
        opacity: 0;
      }

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

@media (720px < width <= 1024px) {
  #about {
    .Expertise {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h1 {
      grid-column: 1/-1;
    }
  }
}

@media (1024px < width <= 1500px) {
  #about {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;

      h1 {
        grid-column: 1/-1;
      }
    }

    .Expertise {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
