@use "@src/utils";

.formContainer {
  position: relative;
  min-width: 360px;
  max-width: fit-content;
  padding: 1em 1.5em;
  border-radius: 1em;
  background-color: var(--clr-box);
  box-shadow: 0 0 1em 0.25em var(--clr-btn);
  background-color: var(--clr-bg);

  h1 {
    margin-bottom: 0.75em;
  }
}

.form {
  display: grid;
  grid-template-columns: auto;
  gap: 0.75em;
}

@media (1024px < width <= 1500px) {
  .adminForm {
    grid-template-columns: 1fr 1fr;

    & > *:nth-child(n + 3) {
      grid-column: 1/-1;
    }

    button {
      grid-column: 1/-1;
    }

    .closeBtn {
      right: -2.75em;
    }
  }
}
