table {
  th {
    display: none;
    color: var(--clr-primary);
    background-color: var(--clr-btn);
  }

  tr {
    background-color: var(--clr-box);
  }

  td {
    display: flex;
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 0.5em;
    font-size: 0.75em;

    &:last-child {
      button {
        width: 100%;
      }
    }

    &::before {
      content: attr(head);
      color: var(--clr-primary);
      min-width: 25%;
      margin-right: 0.75em;
    }
  }
}

@media (1240px < width <= 1500px) {
  table {
    border-spacing: 0.2em;
    th {
      display: table-cell;
      padding: 0.5em;
    }
    td {
      display: table-cell;
      text-align: center;

      &::before {
        content: none;
      }

      button:last-child {
        margin-top: 0.5em;
      }
    }
  }
}
