@use "@src/utils.scss";

.loading {
  @extend .flex;
  height: calc(100dvh - 4rem);
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 1rem solid var(--clr-box);
  border-top-color: var(--clr-primary);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.error {
  @extend .flex;
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: calc(100dvh - 4rem);
  font-size: 1.5em;
  font-family: roboto;
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
